* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: table;
    background: #aeb6bf ;
    font-family:sans-serif;
}
p {
  font: condensed 120% sans-serif;
  font-size: large;
}
img{
    display:block;
    margin:auto;
}
a{
    color: black;
}
.fondo{
    background-image: url(Imagenes/fondo.jpg);
}
.foto{
    width:80px;
    height:80px;
    border-radius:100px;
}
.header{
    background:  #1f618d ;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;

}
.blog{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.link{
    color: white;
    text-decoration: none;
}
.nav-barra{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.barra-item{
    font-size: 18px;
    margin: 0 15px;
    line-height: 80px;
    text-transform: uppercase;
}
.section-figure{
    margin: 5.5%;
    display: flex;
}
.titulo{
    font-size: 50px;
    margin: 5%;
    text-align: center;
    text-transform: uppercase;
}
.box{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 3%;
}

.box-indice{
    flex: 0 0 230px;
}
.box-contenido{
    background:   #fdfefe  ;
    flex: 0 0 1000px;
    
    padding:30px;
}

.linea{
    border-left: 2px solid black;
    height: 100%; 
    flex:auto;
}

	
