* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: table;
    background: #aeb6bf ;
    font-family:sans-serif;
}
p {
  font: condensed 120% sans-serif;
  font-size: large;
}
img{
    display:block;
    margin:auto;
}
a{
    color: black;
}